
 
  .container{
    display: flex;
    justify-content: space-between;
    gap:50px;
    width: auto;
    padding: 30px;
  }
  #tasks{
    width: 580px;
  }

  .task-heading{
    text-align: center;
    margin-bottom: 10px;
  }
  
 
  
  input, select, button {
    display: block;
    margin-bottom: 10px;
  }
 
  .task-container {
    text-align: center;
  }
  .display-task{
    display: flex;
  }
  .edit-button, .delete-button{
    border: none;
    display: inline;
    cursor: pointer;
  }
ul > li{
    display: flex;
    gap: 5px;
  }

  /* modal */
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
 
  body {
    font-family: sans-serif;
    color: #333;
    /* line-height: 1.5; */
    height: 100vh;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    /* background: linear-gradient(to top left, #28b487, #7dd56f); */
  }
 

 
 .task-day{
  padding-TOP: 10px;
 }
  
  
 
  


  .deleteBtn{
    border: none;
    color: red;
    /* padding: 10px 15px; */
  }
  .title-container{
    display: flex;
    align-items: center;
  }




/* Style for input fields and update button */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button#saveEditButton {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button#saveEditButton:hover {
  background-color: #005A7F;
}


/* modal css */
.modal-popup .overly{
  position: fixed;
  top: 0;
  left: 0;
  background:rgb(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: none;
}
.modal-popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)scale(0);
  width: 600px;
  height: 80vh; 
  background: #fff;
  z-index: 2;
  /* text-align:center; */

  box-sizing: border-box;
  padding: 10px;
}
.modal-popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}
.modal-popup.active .overly{
  display: block;
}
.modal-popup.active .content{
  transform: translate(-50%,-50%)scale(1);
  transition: all 300ms ease-in-out;
}
#daily-task-title{
  margin-top: 40px; 
  padding-bottom: 10px;
}
.task-day{
  font-weight: bold;
  padding-bottom: 10px;
}
#yesterdayTask{
  margin-top: 10px;
}
#yesterdayTask>li, #todayTask>li{
  font-size: 15px;
  margin: 2px 0;
}


/* primary btn */
.btn-primary{
  border: none;
  padding: 10px 15px;
  color: white;
  background: blue;
  border-radius: 5px;
}

